* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    background-color: #e3e6f3;
    padding: 0 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0.5px 10px 1px #bfc3c9;

    display: flex;
    justify-content: space-between;
}

.web-logo {
    width: 100px;
}

.ssm-img {
    width: 25px;
}

.hd-link {
    display: flex;
    justify-content: center;
    align-items: center;

}

.hd-link>div {
    padding: 5px 12px;
    font-size: 15px;
    font-weight: bold;
}

.hd-link a {
    text-decoration: none;
    color: #222222;
    
           
}

#link-1 {
    color: #0889ac;
    text-decoration: underline 2px;
}

.hd-link a:hover {
    color:#0889ac;
    text-decoration: underline 2px;
    transition: 0.2s ease-in-out;
}

main {
    display: flex;
    flex-direction: column;

    margin-top: 92px;
    background-color: #e3e6f3;
}

.section-1 {
    padding: 0 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-1 > div {
    flex: 1;
}

.section-1 > div:nth-child(2) {
    flex: 2;
}

.lg-img {
    width: 100%;
    
}

.section-1 h3 {
    color: white;
    font-size: 40px;
    text-wrap: wrap;
}

.section-1-h1-1 {
    color: #222222;
    font-size: 55px;
    font-weight: bold;
}

.section-1-h1-2 {
    color: #088178;
    font-size: 55px;
    font-weight: bold;
    margin-top: -20px;
    margin-bottom: 5px;
}

.section-1-p {
    font-weight: bold;
    font-size: 14px;
}

.section-1-link {
    display: flex;
    align-items: center;
    margin-top: -25px;
}

.section-1-link > img {
    width: 150px;
    position: relative;
    margin-left: 50px;
}

.section-1-link > span {
    position: absolute;
    left: 160px;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
    